img {
    width: 100%;
    height: 100%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .content p {
    font-size: 18px;
    color: #FF6060;
  }
  
  .content b {
    color: #FF6060;
    font-size: 36px;
    background-color: white;
  }
  
  .content.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #C4C4C4;
  }
  
  .right_block {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  
  .host {
    display: flex;
  }
  
  .host img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .host p {
    width: 80px;
    color: #FF6060;
    text-align: -webkit-right;
    margin-right: 10px;
  }
  
  .tags {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .tags li {
    justify-content: flex-start;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    width: 115px;
    padding: 5px 5px;
    margin: 5px 5px;
    text-align: center;
  }
  
  .description {
    display: flex;
    margin: 10px;
  }
  
  .description div {
    margin: 0 5px;
    flex: 1 1 0px;
  }
  
  .text div, .equipements ul {
    background-color: #F6F6F6;
  }
  
  .texte li {
    list-style: none;
  }
  
  .equipements, .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }
  
  .active-star {
    fill: #FF6060;
  }
  
  h2 {
    padding: 15px 20px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  
  svg {
    width: 30px;
    height: 30px;
    fill: #C4C4C4;
  }
  
  .equipements ul {
    display: flex;
    flex-direction: column;
  }