.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about img {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.red_rectangle {
    background: #FF6060;
    width: 1023px;
    height: 47px;
    border-radius: 5px;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

.red_rectangle p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-left: 2%;
}