.cover {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgAbout {
    width: 86%;
    height: 223px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-color: #00000073;
    background-blend-mode: darken;
    
    
}

.values_container {
    width: 70%;
    margin: 0 auto;
}

/*
----------------------------------
RESPONSIVE
----------------------------------
*/

/* TABLETTES */

@media screen and (min-width: 768px) and (max-width: 1100px) {

    .imgAbout {
        width: 90%;
        border-radius: 15px;
        
    }

    .values_container {
        width: 100%;
    }


}

/* MOBILES */


@media screen and (min-width: 375px) and (max-width: 767px) {

    .imgAbout {
        background: url('../../assets/aboutMobile.png');
    }
    
    .cover {
        margin-top: -25px;
    }
    
    .imgAbout {
       width: 90%; 
       background-position: center;
       border-radius: 10px;
       background-position: center;
        background-size: cover;
        object-fit: cover;
        justify-content: center;
        align-items: center; 
    }

    .values_container {
        width: 100%;
    }

}