.content {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    
}

/* Bloc de gauche */

.left_block {
    display: flex;
    flex-direction: column;
    width: 66%;
    padding-left: 1%;
    margin: 0 auto;
}

.tags {
    display: flex;
}

.tags_elements {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.tags_elements li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: white;
    background: #FF6060;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 25px;
    margin-right: 10px;
}


.location b {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.location p {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}



/* Bloc de droite */

.right_block {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    margin-right: 20px;
}

.rating {
    display: flex;
    width: 50%
}

.active-star {
    fill: #FF6060;
    width:100%;
    height: auto;
  }

.false-star {
    fill: #E3E3E3;
    width:100%;
    height: auto;
}

.host {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    
  
}

.host p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    width: 50%;
    
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

/* Description */ 

.bottom_block {
    width: 98%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}

.description {
    width: 45%;
}

.description p {
    font-size: 18px;
}

.equipements {
    width: 40%;
}

.equipements p {
    font-size: 18px;
    padding-left: 1%;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .content {
        flex-direction: column;
    }

    .left_block {
        width: 100%;
    }

    .location b {
        font-size: 18px;
    }

    .location p {
        font-size: 14px;
    }

    .tags_elements {
        width: 100%;
    }

    .tags_elements li {
        font-size: 10px;
        border-radius: 5px;
    }

    .active-star {
        width: 50%;
        height: auto;
        

    }

    .false-star {
        width: 50%;
        height: auto;
    }

    .right_block {
        width: 100%;
        flex-direction: row;
    }

    .host p {
        font-size: 12px;
    }

    .bottom_block {
        flex-direction: column;

    }

    .description {
        width: 100%;
        
    }

    .equipements {
        width: 100%;
        
    }

}