.content {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    border: 3px solid red;
}

.left_block {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.tags {
    display: flex;
}

.tags_elements {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.tags_elements li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: white;
    background: #FF6060;
    border-radius: 10px;
    width: 115px;
    height: 25px;
    margin-right: 10px;
}


.location b {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.location p {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}



.right_block {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.rating {
    display: flex;
}

.host {
    border: 3px solid green;
    display: flex;
    justify-content: flex-end;
  
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
