/* HEADLINE */
.headline_container{
    width: 100%;
}
.headline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline p{
    color: white;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    width: 1240px;
    height: 220px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: #0000004d;
    background-blend-mode: darken;
}



/* Logements */
.housing {
    background: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
}

.housing>a {
    width: 340px;
    
    margin: 20px 25px;
}

.housing_card {
    
    border-radius: 10px;
    width: 340px;
    height: 340px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;

}


.housing_card_title {
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 75%;
    width: 90%;
    padding-left: 3%;
}

.card {
    height: 340px;
    width: 340px;
    position: relative;
    display: flex;
    border-radius: 10px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
----------------------------------
RESPONSIVE
----------------------------------
*/

/* TABLETTES */

@media screen and (min-width: 768px) and (max-width: 1100px) {

    .headline p {
        width: 90%;
        border-radius: 8px;
        font-size: 30px;
        height: 170px;
    }

    .housing {
        width: 100%;
    }

    .housing>a {
        margin: 20px 12px;
    }

}

/* MOBILES */

@media screen and (min-width: 375px) and (max-width: 767px) {

    .headline p {
        width: 335px;
        height: 111px;
        border-radius: 10px;
        font-size: 24px;
        padding-left: 2%;
        margin-top: -10px;
    
    }

    .housing {
        background: white;
        padding-top: 0;
    }

    .card {
        height: 255px;
        margin-top: -25px;
    }
}