.collapse-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1023px;
    color: #f6f6f6;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
  }
  
  .vector {
    height: 30px;
    width: 30px;
    rotate: 90deg;
    cursor: pointer;
  }
  
  .title {
    position: absolute;
  }
  
  h1 {
    color: white;
    -webkit-margin-after: 10px;
            margin-block-end: 10px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    font-size: 20px;
  }
  
  .texte {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #f6f6f6;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.3em;
    padding: 20px 20px;
    position: relative;
    top: -20px;
    max-width: 1023px;
    margin: 0 auto;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
  }

  @media screen and (min-width: 375px) and (max-width: 699px) {

    .collapse-block {
      width: 300px;
    }

    .texte {
      width: 300px;
    }

  }