.accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.accordionTitle {
  background: #FF6060;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  
}

.accordionTitle p {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-left: 2%;
}

.accordionContent {
  width: 100%;
  
  padding-top: 1%;
  padding-bottom: 1%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
}

.accordion.active .accordionContent {
  max-height: 250px; 
  background: #F6F6F6;
  margin-bottom: 30px;
  border-radius: 5px;
}

.accordionContent p {
  color: #FF6060;
  font-size: 24px;
  font-weight: 400;
  line-height: 34.22px;
  padding-left: 2%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.vector {
  width: 14px;
  height: 23px;
  margin-right: 13px;
  transform: rotate(90deg);
  cursor: pointer;
  
}

.active > .accordionTitle > .vector {
  transform: rotate(270deg);
}



/*
----------------------------------
RESPONSIVE
----------------------------------
*/

@media screen and (min-width: 768px) and (max-width: 1100px) {

  .accordion {
    margin-bottom: 15px;
  }
  
  .accordionTitle {
      width: 90%;
  }

  .accordionContent {
    width: 90%;
}

}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .accordion {
      margin-bottom: 15px;
    }
  
    .accordionTitle {
      width: 89%;
      height: 30px;
    }

    .accordionTitle p {
      font-size: 13px;
    }

    .accordionContent {
      width: 89%;
    }

    .accordionContent p {
      font-size: 12px;
      line-height: 17.11px;
    }

    .vector {
      width: 8.98px;
      height: 15.2px;
    }

}