.headline {
    display: flex;
    justify-content: center;
    
}

.headline_img_container {
    
    
}

h1 {
   position: absolute;
   color: white; 
   font-size: 48px;
   top: 25%;
   left: 35%;
}

