header {
    display: flex;
    width: 100%;
    padding-top: 2%;
    
}

header div {
    display: flex;
    width: 20%;
    
}

header img {
    width: 210.32px;
    height: 68px;
    margin-left: 96px;
    
    
}

ul {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
}

ul a {
    
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #FF6060;
}

ul a:hover {
    text-decoration: underline;
}

/*
----------------------------------
RESPONSIVE
----------------------------------
*/

/* TABLETTES */

@media screen and (min-width: 768px) and (max-width: 1100px) {
    header {
        padding: 3%;
        align-items: center;
    }

    header img {
        width: 145px;
        height: 47px;
        margin-left: 10px;
    }

    ul {
        width: 70%;
    }

    ul a {
        text-transform: uppercase;
        
    }
}


/* MOBILES */
@media screen and (min-width: 375px) and (max-width: 767px) {

    header {
        padding: 2%;
        align-items: center;
    }
    
    header img {
        width: 145px;
        height: 47px;
        margin-left: 10px;
    }

    ul a {
        text-transform: uppercase;
        font-size: 12px;
    }

    
}