header {
    width: 100%;
    padding: 2%;
    
}

nav{
   
   display: flex;
   justify-content: flex-end;
   position: absolute;
   left: 55%;
   top: 10%;
   width: 20%;
   
    
}

nav a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    padding-left: 3%; 
    padding-right: 4%;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}