.carousel_container {
    width: 100%;
    
}



.slider {
   
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    
}

.slider_container {
    width: 100%;
}



.vectorPrev {
    width: 46.68px;
    height: 79.2px;
    border: 0;
    transform: rotate(180deg);
    position: absolute;
    left: 22px;
    top: 35%;
    
    
    
}



.slider-image {
    border-radius: 25px;
    width: 100%;
    height: 415px;
    object-fit: cover;
}



.vectorNext {
    width: 46.68px;
    height: 79.2px;
    position: absolute;
    right: 25px;
    top: 35%;
    
}

.image-number {
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .carousel_container {
        margin: 0 auto;
        width: 93%;
        
    }

    .slider-image {
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }

    .vectorPrev {
        width: 11.67px;
        height: 19.8px;
        left: 6px;
        top: 45%;
    
    }

    .vectorNext {
        width: 11.67px;
        height: 19.8px;
        right: 10px;
        top: 45%;
    }

    .image-number {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px) {

    .carousel_container {
        margin-left: 30px;
    }
    
    .slider-image {
        border-radius: 20px;
        height: 350px;
        width: 715px;
    }

    .vectorPrev {
        width: 35.01px;
        height: 59.4px;
        top: 43%;
    }

    .vectorNext {
        width: 35.01px;
        height: 59.4px;
        right: 82px;
        top: 43%;
    }

    .image-number {
        display: none;
    }

}    
