.carousel_container {
    width: 100%;
    margin-left: 90px;
}

.slider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    
}


.vectorPrev {
    width: 46.68px;
    height: 79.2px;
    border: 0;
    transform: rotate(180deg);
    position: absolute;
    left: 22px;
    
    
    
}



.slider-image {
    border-radius: 25px;
    width: 1240px;
    height: 415px;
    object-fit: cover;
}



.vectorNext {
    width: 46.68px;
    height: 79.2px;
    border: 0;
    order: 3;
    position: absolute;
    right: 214px;
    
}

.image-number {
    display: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .carousel_container {
        margin: 0 auto;
        padding-left: 5%;
    }

    .slider-image {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }

    .vectorPrev {
        width: 11.67px;
        height: 19.8px;
        left: 6px;
    
    }

    .vectorNext {
        width: 11.67px;
        height: 19.8px;
        right: 45px;
    }

}

