.error_title {
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
    text-align: center;
}

.error_text {
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    text-align: center;
}

.error_back {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

    .error_title {
        font-size: 96px;
        
    }

    .error_text {
        font-size: 18px;
    }

    .error_back {
        font-size: 14px;
    }

}